autogen==1.0.16
autopep8==2.1.0
certifi==2024.2.2
charset-normalizer==3.3.2
docopt==0.6.2
docutils==0.20.1
idna==3.6
importlib_metadata==7.1.0
jaraco.classes==3.3.1
jaraco.context==4.3.0
jaraco.functools==4.0.0
keyring==25.0.0
markdown-it-py==3.0.0
mdurl==0.1.2
more-itertools==10.2.0
nh3==0.2.17
numpy==1.26.4
pandas==2.2.1
pkginfo==1.10.0
pycodestyle==2.11.1
Pygments==2.17.2
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
readme_renderer==43.0
requests==2.31.0
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.7.1
six==1.16.0
tomli==2.0.1
twine==5.0.0
tzdata==2024.1
urllib3==1.26.6
zipp==3.18.1
